.blog-section {
    padding: 6% 0%;
}

.blog-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.01rem;
    width: 40%;
}

.blog-subtitle {
    background: var(--purple, linear-gradient(180deg, #AD00FF 11.46%, #E3A7FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
}

.blog-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.blog-card {
    width: 20rem;
    border-radius: 24px;
}

.blog-card-btn {
    display: flex;
    width: 113px;
    padding: 9px 30px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid #000;
}

@media screen and (max-width:1050px) {
    .blog-title {
        width: 50%;
    }
}

@media screen and (max-width:840px) {
    .blog-title {
        width: 60%;
    }
}

@media screen and (max-width:700px) {
    .blog-title {
        width: 70%;
    }
}

@media screen and (max-width:600px) {
    .blog-title {
        width: 90%;
    }
}